@import "constants/all";

@import "components/all";

@import "vendor/prism";

.box-highlight{
	padding: 4px 10px;
	background-color: #f1f1f1;
	border-radius: 5px;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 14px;
	font-weight: $font-weight-bold;
}

pre[class*="language-"] {
	// These styles are inherited from the ".code-block-wrapper" div
	font-size: inherit;
	background: inherit;
	border-radius: inherit;
	padding: 0 1em;
}


.spinner-icon {
	animation-name: spin;
	animation-duration: 800ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}


@include tablet-small {
	p .box-highlight {
		padding: 2px 8px;
		font-size: 13px;
	}
}


