@import "constants/all";

@import "components/select_list";


$sorting-test-bench-bar-height: 24px;


// make the h2 and .sort-running-time closer.
// But this affects the test bench section h2 as well.
// That is overwritten by more specific rule
section h2{
	margin-bottom: 10px;
}

.sort-running-time{
	// same margin as section h2
	margin-bottom: $section-h2-margin-bottom;
}


// overwrite the "section h2 {margin-bottom: 10px;} rule"
#sorting-test-bench-wrapper {
	
	h2{
		margin-bottom: $section-h3-margin-bottom;
	}

	p {
		margin-bottom: 10px;		
	}
}

#sorting-test-bench{
	margin-top: $section-margin-code-blocks;

	display: flex;
	flex: 1;
}

#sorting-test-bench-inputs {
	flex: 1;
	margin-right: $page-content-padding-spacing;

	input[type=text]{
		width: 100%;
	}
}

#sorting-test-bench-results{
	flex: 1;
}



// too specific when inside #sorting-test-bench-inputs
.sorting-test-bench-input-field {
	margin-bottom: 20px;
}



#sorting-test-bench-controls {
	margin-top: 40px;
	margin-bottom: 0px;
	text-align: right;

	button {
		margin-left: 12px;
	}
}

#sorting-test-bench-error{
	color: $highlight-error-red;
	border: 1px solid $highlight-error-red;
	background-color: lighten($highlight-error-red, 20%);
	
	font-size: 14px;
	text-align: center;
	
	padding: 12px;
	margin-bottom: 0px;
	margin-top: 20px;

	display: none;
	&.show {
		display: block;
  		animation-name: expandIn;
  		animation-duration: $transition-duration-fast;
	}
}

#sorting-test-bench-status{	
	display: flex;
	align-items: center;
	height: 0px;
	opacity: 0;
	margin-bottom: 0px;
	overflow: hidden;

	@include apply-transition((opacity, height, margin), $transition-duration-base, ease);

	&.show{
		height: 36px;
		opacity: 1;
		margin-bottom: 20px;
	}
	.sorting-test-bench-status-text{
		margin-left: 8px;
		font-weight: $font-weight-bold;
	}
	
	i {
		color: $javascript-logo-yellow;
		font-size: 36px;
		margin-right: 16px;
	}	

}

.sort-stat{
	margin-bottom: 15px;
	font-size: 14px;
	
	&.fastest{

		.sort-stat-text{
			color: $fastest-sort-green;
		}

		.sort-stat-time-text {
			color: #FFF;
			background-color: lighten($fastest-sort-green, 15%);
		}

		.sort-stat-bar{
			background-color: lighten($fastest-sort-green, 15%);
		}
	}

	&.slowest{
		.sort-stat-text{
			color: $highlight-error-red;
		}
		.sort-stat-time-text {
			color: $highlight-error-red;
			background-color: lighten($highlight-error-red, 16%);
		}
		.sort-stat-bar{
			background-color: lighten($highlight-error-red, 16%);
		}
	}
}

.sort-stat-text{
	margin-bottom: 5px;
}

.sort-stat-time {
	display: flex;
	align-items: center;
}

.sort-stat-time-text{

	font-size: 12px;
	font-weight: $font-weight-bold;

	background-color: $button-bgc;
	margin-right: 4px;

	width: 80px;
	height: $sorting-test-bench-bar-height;
	
	// center the text content
	display: flex;
	align-items: center;
	justify-content: center;
}

.sort-stat-bar-wrapper{
	height: $sorting-test-bench-bar-height;

	// make the wrapper occupy rest of entire width
	flex: 1;
}

.sort-stat-bar{
	height: 100%;
	width: 0%;
	background-color: $button-bgc;
	@include apply-transition(width, $transition-duration-slow, ease);
}


#quicksort-pivot-repersentation{
	display: flex;
	justify-content: center;
	margin-top: 16px;
	span {
		margin-right: 12px;
	}
}



// mini break point to change test bench layout
@media (max-width: 600px) {
	#sorting-test-bench{
		display: flex;
		flex-direction: column;
	}

	#sorting-test-bench-inputs {
		flex: none;
		margin-right: 0px;
		margin-bottom: 32px;
	}

	#sorting-test-bench-results{
		flex: none;
	}
}


// for test bench control buttons
@media (max-width: 290px){
	#sorting-test-bench-controls {
		margin-top: 20px;
		
		display: flex;
		flex-direction: column;
		
		button {
			margin-left: 0px;
		}

		button:last-child {
			// render the "RUN" button first
			order: -1;
			margin-bottom: 10px;			
		}
	}
}