<script type="text/html" id="menu-item-anchor-template">
    	<i class="material-icons" data-bind="text:icon"></i>
    	<span data-bind="text:text"></span>
</script>

<script type="text/html" id="menu-item-span-template">
    	<i class="material-icons" data-bind="text:icon"></i>
    	<span data-bind="text:text"></span>
</script>

<div id="navbar">
	<div>
		<i id="navicon" class="material-icons" data-bind="click: toggleSidebar">menu</i>
		<span data-bind="text: navbarText"></span>
	</div>	
	<a href="/"><i class="material-icons">home</i></a>
</div>

<div id="sidebar" data-bind="css:{'show-sidebar': showSidebar}">
	<div id="sidebar-logo">
		<strong><a href="/">JavaScript Algorithms</a></strong>
	</div>
	
	<div data-bind="foreach: menuItems">
		<div class="menu-item" data-bind="click: subMenu ? $parent.toggleSubMenu : null,
											css: {
													'open': open,
													active: active
												}">
			
			<!-- ko ifnot: subMenu -->
				<a class="icon-heading" data-bind = "
					attr: {href: href},
					template: {name: 'menu-item-anchor-template'}">
				</a>
			<!-- /ko -->

			<!-- ko if: subMenu -->
				<div class="sub-menu-dropdown">
					<span class="icon-heading" data-bind = "
						template: {name: 'menu-item-span-template'}">
					</span>
					<i class="material-icons dropdown-notch">arrow_drop_down</i>
				</div>

				<div  class="sub-menu-wrapper" data-bind="foreach: subMenuItems">
					<div class="sub-menu-item" data-bind="css: {active: active}">
						<a class = "icon-heading" data-bind = "
							attr: {href: href},
							template: {name: 'menu-item-anchor-template'}">
						</a>
					</div>
				</div>
			<!-- /ko -->

		</div><!-- MENU ITEM -->
    </div><!-- MENU -->
</div><!-- LEFT-COL -->