
$sub-menu-wrapper-max-height: 300px;
$sidebar-width-1200px: 22.5%;

$menu-items-padding-left-desktop: 20px;



section{
	margin-bottom: $section-margin-bottom;
	
	// last section of the page(#content) has no margin bottom
	@at-root #content > section:last-child {
		margin-bottom: 0px;
	}
	
	h2 {
		margin-bottom: $section-h2-margin-bottom;
	}

	h3 {
		margin-bottom: $section-h3-margin-bottom;
	}

	.code-block-wrapper {
		margin: $section-margin-code-blocks 0px;
		border-left: 5px solid $javascript-logo-yellow;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
	}
	
	// for ".code-block-wrapper" which is next sibling of
	// h2/h3, in the given section, remove margin-top to use
	// margin-bottom of the h2/h3 instead
	h2 + .code-block-wrapper,
	h3 + .code-block-wrapper{
		margin-top: 0px;
	} 

	.code-text{
		margin-bottom: 20px;

		p {
			margin-bottom: 10px;

			// for last para of code-text div
			&:last-of-type{
				margin-bottom: 0px;
			}
		}
	}
}

#loading {
	position: absolute;
	width: 100vw;
	height: 100vh;

	@include center-content;

	background-color: $background-color-page-content-grey;

	span{	
		padding: 12px 50px;
		border: 1px solid $javascript-logo-yellow;

		animation-name: loading-border-flicker;
		animation-duration: 600ms;
		animation-timing-function: linear;
		animation-direction: alternate;
		animation-iteration-count: infinite;
	}
}

#main {
	// set by "showPage" function
	//display: none;

	opacity:0;
	@include apply-transition(opacity, 400ms, ease);

	&.show{
		opacity: 1;
	}
}

#main::after {
	@include clearfix;
}


#page-content {

	float: right;
	width: 100% - $menu-width-desktop;

	// padding-top = $sidebar-logo-height
	padding: $sidebar-logo-height $page-content-padding-spacing 40px;
}

#header {
	margin-bottom: 40px;

	h1{
		padding-bottom: 16px;
		border-bottom: 2px solid $javascript-logo-yellow;
	}
}


#navbar {
	display: none;
}

#sidebar {
	position: fixed;
	float: left;
	width: $menu-width-desktop; // 20%
	height: 100%;
	overflow: auto;
}


#sidebar-logo {
	margin-bottom: 20px;

	a {
		display: block;
		width: 100%;
		height: $sidebar-logo-height;

		line-height: $sidebar-logo-height;
		text-align: center;
	}
}

#sidebar .menu-item {

	.sub-menu-dropdown {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.icon-heading .material-icons{
		margin-right: 12px;
	}

	// make the whole link clickable
	&> a,
	.sub-menu-dropdown{
		padding: 10px 20px 10px $menu-items-padding-left-desktop;
	}

	&.active{
		border-right: 8px solid $javascript-logo-yellow;
		@include apply-transition((color, text-shadow, border-right), 
								$transition-duration-base, ease-out);
	}
	
	// hide dropdowns
	.sub-menu-wrapper{
		max-height: 0px;
		opacity: 0;
		overflow: hidden;

		@include apply-transition((max-height,opacity), $transition-duration-base, ease-out);
	}

	.sub-menu-item {

		border-right: 0px solid $javascript-logo-yellow;
		@include apply-transition(border-right, $transition-duration-fast, ease);

		&.active {
			border-right: 8px solid $javascript-logo-yellow;
		}

		a {
			padding: 10px 20px 10px $menu-items-padding-left-desktop + 8px;
		}

		.material-icons{
			margin-right: 4px;
		}
	}

	// dropdown notch
	.dropdown-notch{
		transition: transform $transition-duration-base ease-out;
	}
}

/* reveal dropdown */
#sidebar .menu-item.open {
	
	// show dropdown
	.sub-menu-wrapper{
		opacity: 1;
		max-height: $sub-menu-wrapper-max-height;
	}

	.dropdown-notch{
		transform: rotate(180deg);
	}
}


.icon-heading {
	display: flex;
	align-items: center;
}



@media (min-width: 961px) and (max-width: 1200px) {

	#page-content {
		width: 100% - $sidebar-width-1200px;
	}
	
	#sidebar {
		width: $sidebar-width-1200px;
	}
}

@include mobile {
	#main::after {
		@include remove-clearfix;
	}

	#page-content {
		float: none;
		width: 100%;
		padding-top: $navbar-height + 40px;
	}

	#sidebar {
		position: fixed;
		z-index: 1;
		opacity: 0.97;
		float: none;
		width: $menu-width-tablet; // 20%
		height: 100%;
		
		// push sidebar out of view
		transform: translateX(-$menu-width-tablet);
		@include apply-transition(transform, $transition-duration-base, ease-out);

		&.show-sidebar{
			transform: translateX(0px);
		}
	}

	#navbar{
		
		@include center-content-vertically;

		// push the div containg navicon, header and the home icon link
		// to the opposite ends of the navbar
		justify-content: space-between;

		// sticky navbar
		position: fixed;

		// place it over the sidebar
		z-index: 2; // #sidebar -> z-index:1

		width: 100%;
		height: $navbar-height;
		
		// 6px padding-left to the navicon(48px wide) lines it up with the icon-heading's
		// 20px padding-left in the sidebar
		padding: 0px 6px;
		
		// wrapper div around navicon and header text
		div:first-child {
			@include center-content-vertically;
		}

		i {
			width: $navbar-height;
			height: $navbar-height;

			@include center-content;
		}		
	}
	
	// Navicon
	#navicon{
		margin-right: 6px;
	}
	
	// remove the header from page-content. The header is displayed inside navbar.
	#header{
		display: none;
	}
}

@include tablet-small {
	// reduce the left-right padding
	#page-content{
		padding-left: $page-content-padding-spacing-small;
		padding-right: $page-content-padding-spacing-small;
	}
	
	//different box-highlight styles for the sort-running-time div
	.sort-running-time .box-highlight {
		padding: 5px 10px;
		font-size: 13px;
	}

}

/* @include phone-landscape {

	// limit the size of code-blocks
	section .code-block-wrapper {
		max-height: calc(100vh - #{$navbar-height} - 2 * 14px);
		overflow-y: auto;
	}
} */

// for the sidebar menu
@media (max-width: 280px){

	#sidebar{
		width: 90%;

		// push sidebar out of view
		transform: translateX(-100%);
	}
}