@mixin sub-menu-transition-close($time) {
	/* fade out, then shrink */
    transition: opacity $time,
                font-size $time $time,
                padding $time $time,
                margin $time $time;
   	transition-timing-function: ease-out;
}

@mixin sub-menu-transition-open($time) {
 /* unshrink, then fade in */
    transition: font-size $time,
                padding $time,
                margin $time,
                opacity $time $time; // time delay
    transition-timing-function: ease-out;
}


$sidebar-dropdown-transition-time: 150ms;

#page-content {
	float: right;
	width: 100% - $menu-width-desktop;
	padding-top: 40px;
	padding-bottom: 40px;
}

#header h1{
	margin-bottom: 32px;
}

#content{
	
	h2 {
		margin: 24px 0px;
	}

	h3 {
		margin: 20px 0px;
	}
}


#sidebar {
	position: fixed;
	float: left;
	width: $menu-width-desktop;// 20%
	height: 100%;
	overflow: auto;
}

#header, #content{
	padding-left: 20px;
	padding-right: 20px;
}

#logo {
	margin-bottom: 20px;

	a {
		display: block;
		padding: 20px;
	}
}

#sidebar .menu-item {

	.sub-menu-dropdown {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.icon-heading .material-icons{
		margin-right: 12px;
	}

	// make the whole link clickable
	&> a,
	.sub-menu-dropdown{
		padding: 10px 20px;
	}

	&.active{
		border-right: 8px solid $javascript-logo-yellow;
		@include apply-transition((color, text-shadow, border-right), 
								$transition-duration-base, ease-out);
	}

	.sub-menu-item {
		
		&.active{
			// this is the transition for an active sub-menu-item; when the parent 
			// menu-item is toggled.

			// reduce the border-right to 0px; 
			border-right: 0px solid $javascript-logo-yellow;
			transition-property: color, text-shadow, border-right;

			// match the border transition to the one of fading out sub-menu-items for the
			// closing dropdown
  			transition-duration: $transition-duration-base, $transition-duration-base, $sidebar-dropdown-transition-time;
		}

		/* close dropdown */
		a,
		.material-icons {
			font-size: 0;
	    	opacity: 0;
	   		padding: 0;
	   		@include sub-menu-transition-close($sidebar-dropdown-transition-time);
		}

		.material-icons{
			margin-right: 4px;
		}
	}

	// dropdown notch
	.dropdown-notch{
		transition: transform $sidebar-dropdown-transition-time ease-out;
	}
}

/* reveal dropdown */
#sidebar .menu-item.open {

	.sub-menu-item.active {
		border-right: 8px solid $javascript-logo-yellow;
	}

	.sub-menu-item a {
		padding: 10px 20px 10px 40px;
		font-size: $font-size-base - 2px;
		opacity: 1;
	    @include sub-menu-transition-open($sidebar-dropdown-transition-time);
	}
	
	// separate "open" transition state for the material icons
	// use the same transition but different target font-size value
	.sub-menu-item .material-icons{
		font-size: $font-size-icon-base;
		opacity: 1;
    	@include sub-menu-transition-open($sidebar-dropdown-transition-time);
	}

	.dropdown-notch{
		transform: rotate(180deg);
	}
}


.icon-heading {
	display: flex;
	align-items: center;
}


a.icon-heading{
	cursor: pointer;
}


.clearfix:after{
	content: " ";
	display: block;
	height: 0;
	font-size: 0;
	visibility: hidden;
	clear: both;
}