
<!DOCTYPE HTML>
<html lang="EN">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, intial-scale=1">
		{% block title %}{% endblock %}

		<link rel="stylesheet" href="../dist/css/base.css">
		{% block style_sheets %}{% endblock %}
	</head>
	<body>
		{% block scripts %}	
		{% endblock %}
		
		<div id="main">

			<!-- sidebar as a knockout component-->
			<sidebar params = "parentRef: parentRef"></sidebar>

			<div id="page-content">
				<div id="header">
					{% block header %}
					{% endblock %}
				</div>
				
				<div id="content">
					{% block content %}
					{% endblock %}
				</div>
			</div><!-- END RIGHT-COL -->
			
		</div><!-- END MAIN -->	
	</body>
</html>