
{% extends 'base.html' %}

{% block title %}
	<title>Javascript Algorithms</title>
{% endblock %}

{% block style_sheets %}
	<link rel="stylesheet" href="../dist/css/index.css">
{% endblock %}


{% block scripts %}	
	<script data-main="../dist/js/indexMain"  src="../dist/js/lib/require.js"></script>
{% endblock %}


{% block content %}
	<div id="banner">
		<span>JavaScript Algorithms</span>
	</div>
	
	<div id="caption-footer-wrapper">
		<div id="caption-wrapper">
			<p id="index-caption">
			This application presents JavaScript implementation of common Computer Science algorithms.
			</p>

			<p id="index-caption-bugs">For bugs and errors, please raise an <a href="https://github.com/abhimanyuPathania/javascript-algorithms/issues">issue on GitHub</a>.</p>
		</div>


		<div id="index-footer">
			<p><a href="https://github.com/abhimanyuPathania/javascript-algorithms"><strong>JavaScript Algorithms</strong></a> has been built and is maintained by Abhimanyu Pathania</p>
			<div id= "octoface">
				<a href="https://github.com/abhimanyuPathania"><img src="/dist/img/octo-mark.png" alt="GitHub OctoIcon"></a>
			</div>
		</div>
	</div>
{% endblock %}


